html,
body {
  margin: 0;
  background-color: darkred;
}

a {
  text-decoration: none;
  color: black
}

/* 下面开始是header部分的布局 */
header {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header>hgroup {
  text-align: center;
  margin-top: 1rem;
}

header>nav {
  margin-top: 2rem 0 0 0;
}

#menus {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
}

#menus>div {
  margin: 0.5rem;
}

/* 下面是博客的内容部分 */
main {
  background-color: darkgreen;
  margin: 2rem 8rem 2rem 8rem;
  display: flex;

}

.main-left {
  margin: 1rem;
  border: solid;
  background-color: aqua;
}

.main-right {
  margin: 1rem;
  border: solid;
  background-color: aqua;
}