html,
body {
  margin: 0;
  background-color: darkred;
}

a {
  text-decoration: none;
  color: black
}

header {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header>hgroup {
  text-align: center;
}

header>nav{
  width: 80%;
}
#menus {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
}

