html,
body {
  margin: 0;
  background-color: burlywood;
}

header>nav {
  /* width: 100%; */
  margin-top: 2rem 0 0 0;
}


/* 下面是博客的内容部分 */
main{
  background-color: darkgreen;
  margin:1rem;
  display: flex;
  flex-direction: column;
}